images/master_device/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6346b608.d007a8","type":"mqtt-broker","name":"MQTT_8883","broker":"mosquitto","port":"8883","tls":"b278b10.69bfb5","clientid":"CLIENT_ID","autoConnect":true,"usetls":true,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b278b10.69bfb5","type":"tls-config","name":"","cert":"/data/certs/client.crt","key":"/data/certs/client.key","ca":"/data/certs/ca.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"88d45a161ac307e1","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":100,"wires":[]},{"id":"684f93ff0a6a37a7","type":"comment","z":"f6f2187d.f17ca8","name":"MQTT topic test","info":"","x":120,"y":40,"wires":[]},{"id":"a9dd51a8aeb0f3f7","type":"mqtt in","z":"f6f2187d.f17ca8","name":"Mqtt topic test","topic":"MQTT_TOPIC_TEST","qos":"2","datatype":"utf8","broker":"6346b608.d007a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":100,"wires":[["88d45a161ac307e1"]]}]