data/volumes/nodered/flows.json
[{"id":"a69b9997.292b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19e220cc.2446bf","type":"subflow","name":"Access Control","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"19c55677.a6532a"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"19c55677.a6532a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6346b608.d007a8","type":"mqtt-broker","name":"MQTT_8883","broker":"mosquitto","port":"8883","tls":"b278b10.69bfb5","clientid":"Node-Red_1","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eda2ba53.9b32f8","type":"postgresdb","cfgname":"","hostname":"postgres","port":"5432","db":"${POSTGRES_DB}","ssl":false},{"id":"fb0f31dc.fda1e","type":"users_config","appPath":"/users","jwtCookieName":"nr.nodeUsers.jwt","jwtHttpsOnly":true},{"id":"b278b10.69bfb5","type":"tls-config","name":"","cert":"/data/certs/client.crt","key":"/data/certs/client.key","ca":"/data/certs/ca.crt","certname":"","keyname":"","caname":"","servername":"${DOMAIN_NAME}","verifyservercert":false},{"id":"2d830ab9.0295c6","type":"inject","z":"a69b9997.292b78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":90,"wires":[["e5f7b8dd.cc90a8","bbd142d.6e1e2c"]]},{"id":"9a33b49e.e0acd8","type":"mqtt out","z":"a69b9997.292b78","name":"","topic":"","qos":"","retain":"","broker":"6346b608.d007a8","x":750,"y":429,"wires":[]},{"id":"6d769ff.9aa366","type":"http in","z":"a69b9997.292b78","name":"","url":"/pub/:topic/:payload","method":"post","upload":false,"swaggerDoc":"","x":170,"y":390,"wires":[["43fe919e.7b0e5"]]},{"id":"5f15f87f.e77698","type":"function","z":"a69b9997.292b78","name":"create message","func":"msg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":389,"wires":[["54afcbb5.a88af4","9a33b49e.e0acd8"]]},{"id":"906787e1.a102d8","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":960,"y":389,"wires":[]},{"id":"54afcbb5.a88af4","type":"function","z":"a69b9997.292b78","name":"create response","func":"msg.payload = {\n    success: true,\n    message: \"published \" + \n             msg.req.params.topic +\n             \"/\" +\n             msg.req.params.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":389,"wires":[["906787e1.a102d8"]]},{"id":"bbd142d.6e1e2c","type":"mqtt out","z":"a69b9997.292b78","name":"","topic":"internal/Group_PlaformUtils/timestamp1","qos":"","retain":"","broker":"6346b608.d007a8","x":460,"y":90,"wires":[]},{"id":"e5f7b8dd.cc90a8","type":"debug","z":"a69b9997.292b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":160,"wires":[]},{"id":"1f9eb2cb.218dad","type":"http in","z":"a69b9997.292b78","name":"","url":"/delete/:topic","method":"patch","upload":false,"swaggerDoc":"","x":170,"y":860,"wires":[["223af31b.5c07dc"]]},{"id":"7b5d49fe.bda528","type":"http in","z":"a69b9997.292b78","name":"","url":"/delete/:topic/first/:count","method":"patch","upload":false,"swaggerDoc":"","x":150,"y":900,"wires":[["7be51c03.d5d424"]]},{"id":"c7c5348d.b9b2e8","type":"http in","z":"a69b9997.292b78","name":"","url":"/delete/:topic/last/:count","method":"patch","upload":false,"swaggerDoc":"","x":150,"y":940,"wires":[["8fa5e7ad.64a298"]]},{"id":"820e7f2b.07043","type":"comment","z":"a69b9997.292b78","name":"TIMESTAMP PUBLISHER","info":"","x":160,"y":40,"wires":[]},{"id":"304dd02.b891c3","type":"comment","z":"a69b9997.292b78","name":"DATA POST API","info":"","x":130,"y":340,"wires":[]},{"id":"347a387c.0c2628","type":"comment","z":"a69b9997.292b78","name":"DELETE APIs","info":"","x":116,"y":800,"wires":[]},{"id":"7a0f398a.333558","type":"comment","z":"a69b9997.292b78","name":"MICRO-SERVICES","info":"","x":164,"y":1260,"wires":[]},{"id":"abecd353.ab633","type":"comment","z":"a69b9997.292b78","name":"PURGE APIs","info":"","x":110,"y":1020,"wires":[]},{"id":"2a07bb87.b18074","type":"http in","z":"a69b9997.292b78","name":"","url":"/timestamp","method":"get","upload":false,"swaggerDoc":"","x":144,"y":1320,"wires":[["6885a8d3.748aa8"]]},{"id":"da8edfe9.02356","type":"function","z":"a69b9997.292b78","name":"prepare timestamp","func":"msg.payload = { \n    timestamp: (new Date()).getTime().toString() \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":654,"y":1320,"wires":[["34bf85f4.49de0a"]]},{"id":"34bf85f4.49de0a","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json","Server":"${DOMAIN_NAME}","Access-Control-Allow-Origin":"*","X-Powered-By":"${GMAIL_USER}"},"x":834,"y":1360,"wires":[]},{"id":"4a5e1b37.6feb14","type":"http in","z":"a69b9997.292b78","name":"","url":"/randomcode/:len","method":"get","upload":false,"swaggerDoc":"","x":124,"y":1360,"wires":[["d1dfe3d6.8974c"]]},{"id":"f9e238d7.7c0d88","type":"function","z":"a69b9997.292b78","name":"prepare random code","func":"var randomString = function(length) {\n    var text = \"\";\n    var possible = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n    for(var i = 0; i < length; i++) {\n        text += possible.charAt(Math.floor(Math.random() * possible.length));\n    }\n\n    return text;\n}\n\nmsg.payload = { \n        code: randomString(msg.req.params.len)\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":1360,"wires":[["34bf85f4.49de0a"]]},{"id":"94c3d299.b3c04","type":"http in","z":"a69b9997.292b78","name":"","url":"/uuid","method":"get","upload":false,"swaggerDoc":"","x":164,"y":1400,"wires":[["27e2e999.8578f6"]]},{"id":"83a1a398.5ab6b","type":"function","z":"a69b9997.292b78","name":"prepare response","func":"msg.payload = {\n    uuid: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":654,"y":1400,"wires":[["34bf85f4.49de0a"]]},{"id":"cc7adb8e.3757f8","type":"uuid","z":"a69b9997.292b78","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"payload","fieldType":"msg","x":494,"y":1400,"wires":[["83a1a398.5ab6b"]]},{"id":"30cdb74b.2eef48","type":"http in","z":"a69b9997.292b78","name":"","url":"/whatsapp/to/:to/message/:message","method":"get","upload":false,"swaggerDoc":"","x":244,"y":1480,"wires":[["65ad3ae3.93c1a4"]]},{"id":"5b65cec4.0c4f6","type":"function","z":"a69b9997.292b78","name":"prepare message","func":"msg.topic = msg.req.params.to;\n\nmsg.payload = {};\nmsg.payload[\"args\"] = {};\nmsg.payload[\"args\"][\"to\"] = msg.req.params.to + \"@c.us\";\nmsg.payload[\"args\"][\"content\"]=msg.req.params.message;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":734,"y":1480,"wires":[["950ea93e.cf3088","26be144.a36cfec"]]},{"id":"b260ac09.8ad04","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json","Server":"${DOMAIN_NAME}","Access-Control-Allow-Origin":"*","X-Powered-By":"${GMAIL_USER}"},"x":1154,"y":1540,"wires":[]},{"id":"950ea93e.cf3088","type":"function","z":"a69b9997.292b78","name":"prepare response","func":"msg.payload = {\n    \"whatpsappTo\": msg.payload.args.to,\n    \"message\": msg.payload.args.content,\n    \"status\": \"queued\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":974,"y":1520,"wires":[["b260ac09.8ad04"]]},{"id":"7f80d7b4.77ac18","type":"http in","z":"a69b9997.292b78","name":"","url":"/email/to/:to/subject/:subject/message/:message","method":"get","upload":false,"swaggerDoc":"","x":214,"y":1540,"wires":[["6fa61fc6.0660c"]]},{"id":"13d5317e.0e89df","type":"function","z":"a69b9997.292b78","name":"prepare email","func":"msg.from = env.get(\"GMAIL_USER\");\n\nmsg.to = msg.req.params.to;\n\nmsg.topic = msg.req.params.subject;\n\nmsg.payload = msg.req.params.message;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":744,"y":1540,"wires":[["8382c454.c436f8","dfa01669.911f78"]]},{"id":"8382c454.c436f8","type":"function","z":"a69b9997.292b78","name":"prepare response","func":"msg.payload = {\n    \"to\": msg.to,\n    \"status\": \"email queued\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":974,"y":1560,"wires":[["b260ac09.8ad04"]]},{"id":"ed4c076c.f65728","type":"mqtt in","z":"a69b9997.292b78","name":"listen everything","topic":"dev2pdb/#","qos":"2","datatype":"auto","broker":"6346b608.d007a8","x":120,"y":260,"wires":[["43324dce.3b9714"]]},{"id":"5185bed1.d020c","type":"comment","z":"a69b9997.292b78","name":"MQTT LISTENER PG","info":"","x":140,"y":210,"wires":[]},{"id":"bade650c.0621e8","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":680,"y":260,"wires":[["ce8ef8f5.78bb28"]]},{"id":"43324dce.3b9714","type":"function","z":"a69b9997.292b78","name":"Setup params","func":"msg.queryParameters = msg.queryParameters || {};\n\n// get microtime\nvar timestamp = new Date();\n\nconst topicArray= msg.topic.split(\"/\");\nconst groupUid = topicArray[0];\nconst deviceUid = topicArray[1]; \nconst newTopic = topicArray.slice(1).join(\"/\");\n\nmsg.queryParameters.param1 = groupUid;\nmsg.queryParameters.param2 = deviceUid;\nmsg.queryParameters.param3 = newTopic;\nmsg.queryParameters.param4 = msg.payload;\nmsg.queryParameters.param5 = timestamp;\nmsg.queryParameters.param6 = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["ddf6f80a.d74c98"]]},{"id":"ddf6f80a.d74c98","type":"template","z":"a69b9997.292b78","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO iot_data.thingData (group_uid, device_uid, topic,payload,timestamp,deleted) \nVALUES ($param1, $param2, $param3, $param4, $param5, $param6) RETURNING *;","output":"str","x":500,"y":260,"wires":[["bade650c.0621e8"]]},{"id":"ce8ef8f5.78bb28","type":"debug","z":"a69b9997.292b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]},{"id":"7dac93ec.865abc","type":"http in","z":"a69b9997.292b78","name":"","url":"/get/:topic","method":"get","upload":false,"swaggerDoc":"","x":364,"y":520,"wires":[["d2b02c5b.571b7"]]},{"id":"e0bfff93.268ce","type":"http in","z":"a69b9997.292b78","name":"","url":"/get/:topic/last/:count","method":"get","upload":false,"swaggerDoc":"","x":334,"y":560,"wires":[["1dbccb3d.a922b5"]]},{"id":"6aab122d.90c82c","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json","Server":"${DOMAIN_NAME}","Access-Control-Allow-Origin":"*","X-Powered-By":"${GMAIL_USER}"},"x":1310,"y":740,"wires":[]},{"id":"c926087f.fef0e8","type":"function","z":"a69b9997.292b78","name":"prepare response","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":660,"wires":[["6aab122d.90c82c"]]},{"id":"61ed1185.5ec73","type":"http in","z":"a69b9997.292b78","name":"","url":"/get/topicLike/:topic/payloadLike/:payload/last/:count","method":"get","upload":false,"swaggerDoc":"","x":234,"y":600,"wires":[["d261863c.09c368"]]},{"id":"4cc9f59.0ad910c","type":"http in","z":"a69b9997.292b78","name":"","url":"/get/:topic/after/:time/last/:count","method":"get","upload":false,"swaggerDoc":"","x":304,"y":640,"wires":[["3984ccab.f95214"]]},{"id":"6c90f413.f5ffbc","type":"http in","z":"a69b9997.292b78","name":"","url":"/get/:topic/before/:time/last/:count","method":"get","upload":false,"swaggerDoc":"","x":294,"y":680,"wires":[["f9e4026a.40c7e"]]},{"id":"842eea2.d11b718","type":"http in","z":"a69b9997.292b78","name":"","url":"/get/:topic/during/:start/:end/last/:count","method":"get","upload":false,"swaggerDoc":"","x":284,"y":720,"wires":[["1b79e932.397187"]]},{"id":"84308ed2.f9741","type":"comment","z":"a69b9997.292b78","name":"DATA READ APIs","info":"","x":124,"y":500,"wires":[]},{"id":"eb20126c.7495","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1280,"y":600,"wires":[["c926087f.fef0e8"]]},{"id":"3f8c81a5.40421e","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.req.params.topic;\nmsg.queryParameters.param2 = 0;\nmsg.queryParameters.param3 =  msg.req.authFilter;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":520,"wires":[["1212b0d9.2863df"]]},{"id":"1212b0d9.2863df","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT topic,payload,timestamp FROM iot_data.thingData \nWHERE topic=$param1 AND deleted=$param2 AND ($param3) \nORDER BY timestamp DESC;\n","x":1010,"y":520,"wires":[["eb20126c.7495"]]},{"id":"8c14c699.cac148","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.req.params.topic;\nmsg.queryParameters.param2 = 0;\nmsg.queryParameters.param3 =  msg.req.authFilter;\nmsg.queryParameters.param4 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":560,"wires":[["f0f8df20.40d07"]]},{"id":"f0f8df20.40d07","type":"template","z":"a69b9997.292b78","name":"create topic last query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT topic,payload,timestamp FROM iot_data.thingData \nWHERE topic=$param1 AND deleted=$param2 AND ($param3)\nORDER BY timestamp DESC\nLIMIT $param4;\n","x":1000,"y":560,"wires":[["eb20126c.7495"]]},{"id":"b663239f.7d765","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.req.params.topic.replace(/\\*/g, \"%\");\nmsg.queryParameters.param2 = msg.req.params.payload.replace(/\\*/g, \"%\");\nmsg.queryParameters.param3 = 0; //deleted\nmsg.queryParameters.param4 =  msg.req.authFilter;\nmsg.queryParameters.param5 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":600,"wires":[["9bd08304.7c824"]]},{"id":"ee5e71b7.1dc5a","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.req.params.topic.replace(/\\*/g, \"%\");\nmsg.queryParameters.param2 =  msg.req.params.time\nmsg.queryParameters.param3 = 0; //deleted\nmsg.queryParameters.param4 =  msg.req.authFilter;\nmsg.queryParameters.param5 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":640,"wires":[["a34d1d5c.07268"]]},{"id":"e4e62c19.a5cf3","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.req.params.topic.replace(/\\*/g, \"%\");\nmsg.queryParameters.param2 =  msg.req.params.time\nmsg.queryParameters.param3 = 0; //deleted\nmsg.queryParameters.param4 =  msg.req.authFilter;\nmsg.queryParameters.param5 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":680,"wires":[["2793c91a.519f26"]]},{"id":"bd5f113c.3d92c","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.req.params.topic.replace(/\\*/g, \"%\");\nmsg.queryParameters.param2 = msg.req.params.start;\nmsg.queryParameters.param3 = msg.req.params.end;\nmsg.queryParameters.param4 = 0; //deleted\nmsg.queryParameters.param5 =  msg.req.authFilter;\nmsg.queryParameters.param6 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":720,"wires":[["b2606498.b82428"]]},{"id":"9bd08304.7c824","type":"template","z":"a69b9997.292b78","name":"create topic like query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT topic,payload,timestamp FROM iot_data.thingData \nWHERE topic LIKE $param1 \nAND payload LIKE $param2\nAND deleted=$param3\nAND ($param4)\nORDER BY timestamp DESC LIMIT $param5;\n","x":1000,"y":600,"wires":[["eb20126c.7495"]]},{"id":"a34d1d5c.07268","type":"template","z":"a69b9997.292b78","name":"create  'AFTER' query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT topic,payload,timestamp FROM iot_data.thingData \nWHERE topic LIKE $param1 \nAND timestamp >= $param2\nAND deleted=$param3\nAND ($param4)\nORDER BY timestamp DESC LIMIT $param5;\n\n","x":1000,"y":640,"wires":[["eb20126c.7495"]]},{"id":"2793c91a.519f26","type":"template","z":"a69b9997.292b78","name":"create  'BEFORE' query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT topic,payload,timestamp FROM iot_data.thingData \nWHERE topic LIKE $param1 \nAND timestamp <= $param2\nAND deleted=$param3\nAND ($param4)\nORDER BY timestamp DESC LIMIT $param5;\n\n","x":990,"y":680,"wires":[["eb20126c.7495"]]},{"id":"b2606498.b82428","type":"template","z":"a69b9997.292b78","name":"create  'DURING' query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT topic,payload,timestamp FROM iot_data.thingData \nWHERE topic LIKE $param1 \nAND timestamp <= $param2\nAND timestamp <= $param3\nAND deleted=$param4\nAND ($param5)\nORDER BY timestamp DESC LIMIT $param6;\n\n\n","x":1000,"y":720,"wires":[["eb20126c.7495"]]},{"id":"205509d4.3d9f56","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE iot_data.thingData SET deleted=$param1\nWHERE topic=$param2 AND ($param3);\n\n\n","x":790,"y":860,"wires":[["cd785826.f1fd68"]]},{"id":"f5e7df84.57944","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1; //deleted\nmsg.queryParameters.param2 = msg.req.params.topic;\nmsg.queryParameters.param3 = msg.req.authFilter;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584,"y":860,"wires":[["205509d4.3d9f56"]]},{"id":"2dece9a4.57a6c6","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n\n// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1; //deleted\nmsg.queryParameters.param2 = msg.req.params.topic;\nmsg.queryParameters.param3 = msg.req.authFilter;\nmsg.queryParameters.param4 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584,"y":900,"wires":[["8f57d392.1d1c1"]]},{"id":"8f57d392.1d1c1","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE iot_data.thingData SET deleted=$param1\nWHERE topic=$param2 AND ($param3)\nORDER BY id ASC LIMIT $param4;\n\n\n\n","x":790,"y":900,"wires":[["af7c020b.af619"]]},{"id":"cd514d7d.22232","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n\n// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1; //deleted\nmsg.queryParameters.param2 = msg.req.params.topic;\nmsg.queryParameters.param3 = msg.req.authFilter;\nmsg.queryParameters.param4 = msg.req.params.count\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584,"y":940,"wires":[["620aa23a.91f1ec"]]},{"id":"620aa23a.91f1ec","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE iot_data.thingData SET deleted=$param1\nWHERE topic=$param2 AND ($param3)\nORDER BY id DESC LIMIT $param4;\n\n\n\n\n","x":790,"y":940,"wires":[["d235d635.f36df8"]]},{"id":"605698a1.09fd08","type":"function","z":"a69b9997.292b78","name":"prepare response","func":"return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1434,"y":960,"wires":[["5827fe67.569b3"]]},{"id":"5827fe67.569b3","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json","Server":"${DOMAIN_NAME}","Access-Control-Allow-Origin":"*","X-Powered-By":"${GMAIL_USER}"},"x":1414,"y":1020,"wires":[]},{"id":"d45c56a.3c1e7a8","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1404,"y":880,"wires":[["605698a1.09fd08"]]},{"id":"cd785826.f1fd68","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":984,"y":860,"wires":[["4b2c4f4.f1a9eb"]]},{"id":"af7c020b.af619","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":984,"y":900,"wires":[["165fff82.9aac"]]},{"id":"d235d635.f36df8","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":984,"y":940,"wires":[["ef64e5fb.244b08"]]},{"id":"4b2c4f4.f1a9eb","type":"template","z":"a69b9997.292b78","name":"check query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT COUNT(*) as Deleted_rows FROM iot_data.thingData\nWHERE topic=$param2 AND deleted=1;","output":"str","x":1174,"y":860,"wires":[["d45c56a.3c1e7a8"]]},{"id":"165fff82.9aac","type":"template","z":"a69b9997.292b78","name":"check query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT COUNT(*) as Deleted_rows FROM iot_data.thingData\nWHERE topic=$param2 AND deleted=1\nORDER BY id ASC LIMIT $param4;\n","output":"str","x":1174,"y":900,"wires":[["d45c56a.3c1e7a8"]]},{"id":"ef64e5fb.244b08","type":"template","z":"a69b9997.292b78","name":"check query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT COUNT(*) as Deleted_rows FROM iot_data.thingData\nWHERE topic=$param2 AND deleted=1\nORDER BY id DESC LIMIT $param4;\n","output":"str","x":1174,"y":940,"wires":[["d45c56a.3c1e7a8"]]},{"id":"4c6e4283.e3d64c","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM iot_data.thingData WHERE deleted=$param1\nAND topic=$param2 AND ($param3);\n\n\n","x":810,"y":1080,"wires":[["de84a05c.8df3b"]]},{"id":"7fca758c.ba358c","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1; //deleted\nmsg.queryParameters.param2 = msg.req.params.topic;\nmsg.queryParameters.param3 = msg.req.authFilter;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1080,"wires":[["4c6e4283.e3d64c"]]},{"id":"72397283.c87f0c","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n\n// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1; //deleted\nmsg.queryParameters.param2 = msg.req.params.topic;\nmsg.queryParameters.param3 = msg.req.authFilter;\nmsg.queryParameters.param4 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1120,"wires":[["b13b0979.ded618"]]},{"id":"b13b0979.ded618","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM iot_data.thingData WHERE deleted=$param1\nAND topic=$param2 AND ($param3)\nORDER BY id ASC LIMIT $param4;\n\n\n\n","x":810,"y":1120,"wires":[["76a8bb6c.b87f54"]]},{"id":"eb623a50.d4ddc8","type":"function","z":"a69b9997.292b78","name":"setup params","func":"// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n\n// if no authorization filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter || msg.req.authFilter === \"\")\n    msg.req.authFilter = 1;\n    \nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1; //deleted\nmsg.queryParameters.param2 = msg.req.params.topic;\nmsg.queryParameters.param3 = msg.req.authFilter;\nmsg.queryParameters.param4 = msg.req.params.count\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1160,"wires":[["4a757e21.0e4ab"]]},{"id":"4a757e21.0e4ab","type":"template","z":"a69b9997.292b78","name":"create topic query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM iot_data.thingData WHERE deleted=$param1\nAND topic=$param2 AND ($param3)\nORDER BY id DESC LIMIT $param4;\n\n\n","x":810,"y":1160,"wires":[["ea853e85.685e3"]]},{"id":"a1b0157.0e106e8","type":"function","z":"a69b9997.292b78","name":"prepare response","func":"if(msg.payload[0].count == \"0\") {\n    msg.payload = {\n        \"Message\": \"Rows purged correctly\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1454,"y":1180,"wires":[["59ae1a34.26dcc4"]]},{"id":"59ae1a34.26dcc4","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json","Server":"${DOMAIN_NAME}","Access-Control-Allow-Origin":"*","X-Powered-By":"${GMAIL_USER}"},"x":1434,"y":1240,"wires":[]},{"id":"1e3bef53.1b0f71","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1424,"y":1100,"wires":[["a1b0157.0e106e8"]]},{"id":"de84a05c.8df3b","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1004,"y":1080,"wires":[["eba0f8ef.2ec558"]]},{"id":"76a8bb6c.b87f54","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1004,"y":1120,"wires":[["ecd16bdb.fc88c8"]]},{"id":"ea853e85.685e3","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1004,"y":1160,"wires":[["196bce3d.1b5142"]]},{"id":"eba0f8ef.2ec558","type":"template","z":"a69b9997.292b78","name":"check query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT COUNT(*) FROM iot_data.thingData\nWHERE topic=$param2;\n","output":"str","x":1194,"y":1080,"wires":[["1e3bef53.1b0f71"]]},{"id":"ecd16bdb.fc88c8","type":"template","z":"a69b9997.292b78","name":"check query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT COUNT(*) FROM iot_data.thingData\nWHERE topic=$param2\nORDER BY id ASC LIMIT $param4;\n\n","output":"str","x":1194,"y":1120,"wires":[["1e3bef53.1b0f71"]]},{"id":"196bce3d.1b5142","type":"template","z":"a69b9997.292b78","name":"check query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT COUNT(*) FROM iot_data.thingData\nWHERE topic=$param2\nORDER BY id DESC LIMIT $param4;\n","output":"str","x":1194,"y":1160,"wires":[["1e3bef53.1b0f71"]]},{"id":"f83575bc.160c68","type":"http in","z":"a69b9997.292b78","name":"","url":"/purge/:topic","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1080,"wires":[["2a1dd617.f7a79a"]]},{"id":"92aa0db3.ccb7b","type":"http in","z":"a69b9997.292b78","name":"","url":"/purge/:topic/first/:count","method":"delete","upload":false,"swaggerDoc":"","x":150,"y":1120,"wires":[["7ef874cd.77bc1c"]]},{"id":"f567b7.633cd848","type":"http in","z":"a69b9997.292b78","name":"","url":"/purge/:topic/last/:count","method":"delete","upload":false,"swaggerDoc":"","x":150,"y":1160,"wires":[["edcad372.70ecb"]]},{"id":"dfa01669.911f78","type":"e-mail","z":"a69b9997.292b78","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Send email","x":934,"y":1600,"wires":[]},{"id":"26be144.a36cfec","type":"http request","z":"a69b9997.292b78","name":"Send to Whatsapp","method":"POST","ret":"txt","paytoqs":"ignore","url":"wa:8080/sendText","tls":"","persist":false,"proxy":"","authType":"","x":974,"y":1460,"wires":[[]]},{"id":"19c55677.a6532a","type":"users_isloggedin","z":"19e220cc.2446bf","name":"","enableCustomHandler":true,"outputs":2,"x":190,"y":80,"wires":[[],["ebfb672b.d1a568"]]},{"id":"ebfb672b.d1a568","type":"template","z":"19e220cc.2446bf","name":"Access unauthorized","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 20px;\n  background: #382e24;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 80%;\n  color: #EFF0F1;\n  text-align: center;\n  left: 10%;\n  top: calc(50% - 180px);\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>IOT ${MAIN_ORGANIZATION_ACRONYM} Platform</title>\n</head>\n<body>\n  <div class=\"login-wrapper\">\n    <h1>Access not authorized!!!</h1>\n  </div>\n</body>\n</html>","x":400,"y":87,"wires":[["fde58351.1e6b7"]]},{"id":"fde58351.1e6b7","type":"http response","z":"19e220cc.2446bf","name":"","statusCode":"","headers":{},"x":582,"y":87,"wires":[]},{"id":"43fe919e.7b0e5","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","env":[],"x":387,"y":390,"wires":[["5f15f87f.e77698"]]},{"id":"d2b02c5b.571b7","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":560,"y":520,"wires":[["3f8c81a5.40421e"]]},{"id":"1dbccb3d.a922b5","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":560,"y":560,"wires":[["8c14c699.cac148"]]},{"id":"d261863c.09c368","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":561,"y":600,"wires":[["b663239f.7d765"]]},{"id":"3984ccab.f95214","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","env":[],"x":563,"y":640,"wires":[["ee5e71b7.1dc5a"]]},{"id":"f9e4026a.40c7e","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","env":[],"x":563,"y":680,"wires":[["e4e62c19.a5cf3"]]},{"id":"1b79e932.397187","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","env":[],"x":563,"y":720,"wires":[["bd5f113c.3d92c"]]},{"id":"223af31b.5c07dc","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","env":[],"x":384,"y":860,"wires":[["f5e7df84.57944"]]},{"id":"7be51c03.d5d424","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":384,"y":900,"wires":[["2dece9a4.57a6c6"]]},{"id":"8fa5e7ad.64a298","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":384,"y":940,"wires":[["cd514d7d.22232"]]},{"id":"2a1dd617.f7a79a","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","env":[],"x":400,"y":1080,"wires":[["7fca758c.ba358c"]]},{"id":"7ef874cd.77bc1c","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":400,"y":1120,"wires":[["72397283.c87f0c"]]},{"id":"edcad372.70ecb","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":400,"y":1160,"wires":[["eb623a50.d4ddc8"]]},{"id":"6885a8d3.748aa8","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":344,"y":1320,"wires":[["da8edfe9.02356"]]},{"id":"d1dfe3d6.8974c","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":344,"y":1360,"wires":[["f9e238d7.7c0d88"]]},{"id":"27e2e999.8578f6","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":344,"y":1400,"wires":[[]]},{"id":"65ad3ae3.93c1a4","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":524,"y":1480,"wires":[["5b65cec4.0c4f6"]]},{"id":"6fa61fc6.0660c","type":"subflow:19e220cc.2446bf","z":"a69b9997.292b78","name":"","x":524,"y":1540,"wires":[["13d5317e.0e89df"]]}]