images/nodered/flows.json
[{"id":"a69b9997.292b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6346b608.d007a8","type":"mqtt-broker","name":"MQTT_8883","broker":"mosquitto","port":"8883","tls":"b278b10.69bfb5","clientid":"Node-Red_1","usetls":true,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eda2ba53.9b32f8","type":"postgresdb","cfgname":"","hostname":"postgres","port":"5432","db":"${POSTGRES_DB}","ssl":false},{"id":"b278b10.69bfb5","type":"tls-config","name":"","cert":"/data/certs/client.crt","key":"/data/certs/client.key","ca":"/data/certs/ca.crt","certname":"","keyname":"","caname":"","servername":"${DOMAIN_NAME}","verifyservercert":false,"alpnprotocol":""},{"id":"ed4c076c.f65728","type":"mqtt in","z":"a69b9997.292b78","name":"listen everything","topic":"dev2pdb/#","qos":"2","datatype":"auto","broker":"6346b608.d007a8","nl":false,"rap":false,"x":100,"y":100,"wires":[["43324dce.3b9714"]]},{"id":"5185bed1.d020c","type":"comment","z":"a69b9997.292b78","name":"MQTT LISTENER PG","info":"","x":120,"y":40,"wires":[]},{"id":"bade650c.0621e8","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":660,"y":100,"wires":[["ce8ef8f5.78bb28"]]},{"id":"43324dce.3b9714","type":"function","z":"a69b9997.292b78","name":"Setup params","func":"msg.queryParameters = msg.queryParameters || {};\n\n// get microtime\nvar timestamp = new Date();\n\nconst topicArray= msg.topic.split(\"/\");\nconst groupUid = topicArray[1].slice(6);\nconst deviceUid = topicArray[2].slice(7);\nconst topicUid = topicArray[3].slice(6);\nconst newTopic = topicArray.slice(2).join(\"/\");\n\nmsg.queryParameters.param1 = groupUid;\nmsg.queryParameters.param2 = deviceUid;\nmsg.queryParameters.param3 = topicUid;\nmsg.queryParameters.param4 = newTopic;\nmsg.queryParameters.param5 = msg.payload;\nmsg.queryParameters.param6 = timestamp;\nmsg.queryParameters.param7 = 0;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["ddf6f80a.d74c98"]]},{"id":"ddf6f80a.d74c98","type":"template","z":"a69b9997.292b78","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO iot_data.thingData (group_uid, device_uid, topic_uid, topic, payload, timestamp,deleted) \nVALUES ($param1, $param2, $param3, $param4, $param5, $param6, $param7) RETURNING *;","output":"str","x":480,"y":100,"wires":[["bade650c.0621e8"]]},{"id":"ce8ef8f5.78bb28","type":"debug","z":"a69b9997.292b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]}]