volumes/nodered/flows.json
[{"id":"a69b9997.292b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab42b24a.421c8","type":"subflow","name":"Access Control","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1c9aeb0.731c615"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"1c9aeb0.731c615","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6346b608.d007a8","type":"mqtt-broker","name":"MQTT_8883","broker":"mosquitto","port":"8883","tls":"b278b10.69bfb5","clientid":"Node-Red_1","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eda2ba53.9b32f8","type":"postgresdb","cfgname":"","hostname":"postgres","port":"5432","db":"${POSTGRES_DB}","ssl":false},{"id":"b278b10.69bfb5","type":"tls-config","name":"","cert":"/data/certs/client.crt","key":"/data/certs/client.key","ca":"/data/certs/ca.crt","certname":"","keyname":"","caname":"","servername":"${DOMAIN_NAME}","verifyservercert":false},{"id":"2d830ab9.0295c6","type":"inject","z":"a69b9997.292b78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":90,"wires":[["e5f7b8dd.cc90a8","bbd142d.6e1e2c"]]},{"id":"bbd142d.6e1e2c","type":"mqtt out","z":"a69b9997.292b78","name":"","topic":"internal/Group_PlaformUtils/timestamp1","qos":"","retain":"","broker":"6346b608.d007a8","x":460,"y":90,"wires":[]},{"id":"e5f7b8dd.cc90a8","type":"debug","z":"a69b9997.292b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":160,"wires":[]},{"id":"820e7f2b.07043","type":"comment","z":"a69b9997.292b78","name":"TIMESTAMP PUBLISHER","info":"","x":160,"y":40,"wires":[]},{"id":"ed4c076c.f65728","type":"mqtt in","z":"a69b9997.292b78","name":"listen everything","topic":"dev2pdb/#","qos":"2","datatype":"auto","broker":"6346b608.d007a8","nl":false,"rap":false,"x":120,"y":260,"wires":[["43324dce.3b9714"]]},{"id":"5185bed1.d020c","type":"comment","z":"a69b9997.292b78","name":"MQTT LISTENER PG","info":"","x":140,"y":210,"wires":[]},{"id":"bade650c.0621e8","type":"postgres","z":"a69b9997.292b78","postgresdb":"eda2ba53.9b32f8","name":"iot_platform_db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"","limit_value":"","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":680,"y":260,"wires":[["ce8ef8f5.78bb28"]]},{"id":"43324dce.3b9714","type":"function","z":"a69b9997.292b78","name":"Setup params","func":"msg.queryParameters = msg.queryParameters || {};\n\n// get microtime\nvar timestamp = new Date();\n\nconst topicArray= msg.topic.split(\"/\");\nconst groupUid = topicArray[1].slice(6);\nconst deviceUid = topicArray[2].slice(7);\nconst topicUid = topicArray[3].slice(6);\nconst newTopic = topicArray.slice(2).join(\"/\");\n\nmsg.queryParameters.param1 = groupUid;\nmsg.queryParameters.param2 = deviceUid;\nmsg.queryParameters.param3 = topicUid;\nmsg.queryParameters.param4 = newTopic;\nmsg.queryParameters.param5 = msg.payload;\nmsg.queryParameters.param6 = timestamp;\nmsg.queryParameters.param7 = 0;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["ddf6f80a.d74c98"]]},{"id":"ddf6f80a.d74c98","type":"template","z":"a69b9997.292b78","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO iot_data.thingData (group_uid, device_uid, topic_uid, topic, payload, timestamp,deleted) \nVALUES ($param1, $param2, $param3, $param4, $param5, $param6, $param7) RETURNING *;","output":"str","x":500,"y":260,"wires":[["bade650c.0621e8"]]},{"id":"ce8ef8f5.78bb28","type":"debug","z":"a69b9997.292b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]},{"id":"1c9aeb0.731c615","type":"users_isloggedin","z":"ab42b24a.421c8","name":"","enableCustomHandler":true,"outputs":2,"x":190,"y":80,"wires":[[],["f1e66816.fb7c08"]]},{"id":"f1e66816.fb7c08","type":"template","z":"ab42b24a.421c8","name":"Access unauthorized","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 20px;\n  background: #382e24;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 80%;\n  color: #EFF0F1;\n  text-align: center;\n  left: 10%;\n  top: calc(50% - 180px);\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>IOT ${MAIN_ORGANIZATION_ACRONYM} Platform</title>\n</head>\n<body>\n  <div class=\"login-wrapper\">\n    <h1>Access not authorized!!!</h1>\n  </div>\n</body>\n</html>","x":400,"y":87,"wires":[["6705952e.ed51dc"]]},{"id":"6705952e.ed51dc","type":"http response","z":"ab42b24a.421c8","name":"","statusCode":"","headers":{},"x":582,"y":87,"wires":[]},{"id":"b5c90b97.d92a78","type":"mqtt out","z":"a69b9997.292b78","name":"","topic":"","qos":"","retain":"","broker":"6346b608.d007a8","x":750,"y":440,"wires":[]},{"id":"418b6ceb.ad9734","type":"http in","z":"a69b9997.292b78","name":"","url":"/pub/:topic/:payload","method":"post","upload":false,"swaggerDoc":"","x":170,"y":401,"wires":[["fb7db3a4.01b09"]]},{"id":"55170b43.551504","type":"function","z":"a69b9997.292b78","name":"create message","func":"msg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":400,"wires":[["8b5b2098.c1a37","b5c90b97.d92a78"]]},{"id":"926a370e.5a4bb8","type":"http response","z":"a69b9997.292b78","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":960,"y":400,"wires":[]},{"id":"8b5b2098.c1a37","type":"function","z":"a69b9997.292b78","name":"create response","func":"msg.payload = {\n    success: true,\n    message: \"published \" + \n             msg.req.params.topic +\n             \"/\" +\n             msg.req.params.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":400,"wires":[["926a370e.5a4bb8"]]},{"id":"a1d81172.303ca","type":"comment","z":"a69b9997.292b78","name":"DATA POST API","info":"","x":130,"y":351,"wires":[]},{"id":"fb7db3a4.01b09","type":"subflow:ab42b24a.421c8","z":"a69b9997.292b78","name":"","env":[],"x":387,"y":401,"wires":[["55170b43.551504"]]}]